matplotlib==3.5.1
streamlit==1.4.0
pickle==0.7.5
lightgbm==3.3.1
pandas==2.0.3
numpy==1.25.1
folium==0.14.0
branca==0.6.0
streamlit-folium==0.13.0
plotly==5.15.0
Pillow==9.5.0
zipp==3.16.0
folium.plugins==0.12.1
